.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 0px 1fr 0px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.colorboard{
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.colorboard > *{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0px 5px;
  background: #f00;
  border: 1px solid white;
  
}

.buttonbox{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.buttonbox button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  background: #999;
}

.buttonbox button:not(:last-child){
  margin-bottom: 10px;
}

.main{
  margin: 0;
  padding: 0;
}

.main p{
  text-align: center;
  padding-bottom: 20px;
}

.main button{
  margin: 0;
  width: min(80vw, 50vh);
  height: min(80vw, 50vh);
  border-radius: 50%;
  font-size: 3rem;
  font-weight: 900;
}

.main button:hover {
  background: #333;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  
}
